<div id="cntHeader">

    <div id="header" class="wrap_cnt">

            <div id="header_left">
                <div id="header_left_logo">
                    <img id="header_img" src="{{ asset('images/logoHiberus.png') }}"/>
                </div>
                <div>
                    <h1>HIBENTUS</h1>
                    <h3>Bienvendio a tu pagina de eventos</h3>
                </div>
            </div>
            
            <div id="header_right">                
               {#{{ render(controller('App\\Controller\\SecurityController::login')) }}#}
                <!--<form method="post" action="">
                    <label for="username"></label>
                    <input type="text" name="username" id="username" placeholder="Nombre de Usuario" disabled="true">
    
                    <br>
    
                    <label for="clave"></label>
                    <input type="password" name="clave" id="clave" placeholder="Contraseña" disabled="true">
                    <br>
                    <input type="submit" name="btnLogin" value="Iniciar sessión" hidden="true">
    
                </form>--> 
                {% if app.user %}
                    <h1>¡Bienvenido!</h1>
                    <div id="header_buttons_login">
                        <div id="inline">
                            {{ app.user.username }}<p> --> </p>
                            <a href="{{ path('app_logout') }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">  Salir  </a>                 
                        </div>
                    </div>
                {% else %}
                    <h1>¡Inicia Sesion!</h1>
                    <div id="header_buttons">
                        <a href="{{ path('app_login') }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Iniciar Sesion</a>         
                        <a href="{{ path('registro') }}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Registrarse</a>         
                    </div>
                {% endif %}
            </div>
            
        

    </div>
    <div id="cntNav">
        <nav class="wrap_header_cnt">
            <ul id="menu">
                <li><a href="{{ path('index') }}">Inicio</a></li>
                <li><a href="{{ path('indexCategoria') }}">Categorias</a></li>
                <li><a href="{{ path("eventosActivos") }}">Eventos activos</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path("evento") }}">Admin Eventos</a></li>
                    <li><a href="{{ path('adminCategoria') }}">Admin</a> </li>
                {% endif %}
                {% if app.user %}
                    <li><a href="{{ path('profileuser') }}">Panel de Usuario</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>